# Android / Gradle
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
.kotlin/

# Schemas folder is committed (needed for Room migrations).
# /app/schemas/
